body {
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 120px 0 0 0;
}

.card > .content {
	text-align: center;
}

.card > .content > h1 {
	font-size: 52px;
}

.card > .content > p {
	padding: 0 5px 0 5px;
	width: 400px;
}

.content > hr {
	border-color: var(--main-fg-color-header);
	width: 75%;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-links img {
	width: auto;
	height: 1em;
	padding: 0 0.25em 0 0;
}
.center-nav {
	display: flex;
	justify-content: center;
	gap: 8px;
	width: 100%;
}
.center-nav > li {
	display: inline-block;
	list-style-type: none;
}

.center-nav a {
	display: inline-block;
	padding: 8px 16px;
	color: #000;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	font-weight: bold;
	transition: color 0.3s;
}

.center-nav a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: -100%;
	background-color: #B52b40;
	transition: left 0.3s;
}

.center-nav a:hover {
	color: #B52b40;
}

.center-nav a:hover::before {
	left: 0;
}

.social-links > a:hover {
	color: var(--main-fg-color-header);
}

a {
	color: #000;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}
