{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Ishan's Website</title>
		<link rel="stylesheet" href="{% static 'blog_app/css/common.css' %}">
		<link rel="stylesheet" href="{% static 'blog_app/css/home.css' %}">
	</head>
	<body>

		<div class="card">
			<canvas id="glCanvas"></canvas>
			<div class="content">
				<h1>Ishan Agarwal</h1>
				<hr>
				<p>ishan365.ia@gmail.com</p>
				<div class="social-links">
					<img class="logo" src="{% static 'blog_app/images/github-mark.svg' %}"/><a href="https://github.com/ishan9299">ishan9299</a>
				</div>
				<p>Interested in maths, programming and computer graphics. I also enjoy playing video games primarily FPS and RPGS.</p>
				<nav class="center-nav">
					<li><a href="/blog">Blog</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="{% static 'blog_app/resume.pdf' %}">Resume</a></li>
				</nav>
			</div>
		</div>

		<script>
			async function loadShaderFile(url) {
	const response = await fetch(url);
	return await response.text();
}

async function main() {
	const canvas = document.getElementById('glCanvas');
	const gl = canvas.getContext('webgl2');
	if (!gl) {
		console.error("WebGL 2 not available");
		return;
	}

	const vertexShaderSource = await loadShaderFile("{% static 'blog_app/shaders/home_vertex.glsl' %}");
	const fragmentShaderSource = await loadShaderFile("{% static 'blog_app/shaders/home_fragment.glsl' %}");

	const vertexShader = gl.createShader(gl.VERTEX_SHADER);
	gl.shaderSource(vertexShader, vertexShaderSource);
	gl.compileShader(vertexShader);
	if (!gl.getShaderParameter(vertexShader, gl.COMPILE_STATUS)) {
		console.error('An error occurred compiling the vertex shaders: ' + gl.getShaderInfoLog(vertexShader));
		gl.deleteShader(vertexShader);
		return;
	}

	const fragmentShader = gl.createShader(gl.FRAGMENT_SHADER);
	gl.shaderSource(fragmentShader, fragmentShaderSource);
	gl.compileShader(fragmentShader);
	if (!gl.getShaderParameter(fragmentShader, gl.COMPILE_STATUS)) {
		console.error('An error occurred compiling the fragment shaders: ' + gl.getShaderInfoLog(fragmentShader));
		gl.deleteShader(fragmentShader);
		return;
	}

	const shaderProgram = gl.createProgram();
	gl.attachShader(shaderProgram, vertexShader);
	gl.attachShader(shaderProgram, fragmentShader);
	gl.linkProgram(shaderProgram);
	if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
		console.error('Unable to initialize the shader program: ' + gl.getProgramInfoLog(shaderProgram));
		return;
	}

	gl.useProgram(shaderProgram);

	const vertexPosition = gl.getAttribLocation(shaderProgram, 'aVertexPosition');

	const vertices = new Float32Array([
		1.0,  1.0,
		1.0, -1.0,
		-1.0,  1.0,
		1.0, -1.0,
		-1.0, -1.0,
		-1.0,  1.0,
	]);

	const positionBuffer = gl.createBuffer();
	gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
	gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);

	gl.vertexAttribPointer(vertexPosition, 2, gl.FLOAT, false, 0, 0);
	gl.enableVertexAttribArray(vertexPosition);

	const iResolution = gl.getUniformLocation(shaderProgram, 'iResolution');
	const iTime = gl.getUniformLocation(shaderProgram, 'iTime');

	window.addEventListener('resize', () => {
		gl.viewport(0, 0, canvas.width, canvas.height);
	});

	function render(time) {
		gl.uniform2f(iResolution, canvas.width, canvas.height);
		gl.uniform1f(iTime, time * 0.001);

		gl.clear(gl.COLOR_BUFFER_BIT);

		gl.viewport(0, 0, canvas.width, canvas.height);
		gl.drawArrays(gl.TRIANGLES, 0, vertices.length / 2);

		requestAnimationFrame(render);
	}
	requestAnimationFrame(render);
}

main();
		</script>
	</body>
</html>
