{% load blog_app_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Blog</title>

		<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
		crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'blog_app/css/common.css' %}">
		<link rel="stylesheet" href="{% static 'blog_app/css/markdown_page.css' %}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	</head>
	<body>
		<main class="m-2">
			{{ markdown_content.content|render_markdown }}
		</main>
	</body>
</html>
